.App {
  text-align: center;
}

.Welcome {
  background-color: brown;
  padding-block: 30px;
}

.CardBook {
  height: 98%;
  box-shadow: 5px 5px 20px 0px pink;
  background-color: snow;
}

.CardImg {
  max-width: 100%;
  max-height: 375px;
}

.CardBody {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.Footer {
  background-color: brown;
  height: 50px;
  display: flex;
  justify-content: center;
  padding: 15px;
}

.Commenti {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 15px;
}
